.MovieCont{
    background-color: red;
}

.elemeto{
    z-index: 1;
    color: #fff;
    border: 5px #7a1d16 solid;
    background-color: black !important;
}

.colorLetra{
    color:#fff;
}

.estilo-boton-nave {
    color:#fff !important; 
}